* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: playfair;
    line-height: 1.6;
    color: $clr2;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat, serif;
    margin: 0 0 0.4em;
    line-height: 0.9;
}

p {
    margin: 0 0 0em;
}
li {
    list-style-type: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
body {
    background-color: #f8f8f8;
}

.md-theme-default a:not(.md-button) {
    color: #8e9e9e !important;
    &:hover {
        color: white !important;
        text-decoration: none !important;
    }
}

button:active {
    color: white;
    border-color: white;
}


textarea {
    height: 75px;
    width: 300px;
}

input,
select {
    padding: 5px;
    padding-left: none;
    border: unset;
    background: unset;
    border-bottom: 1px solid black;
}

textarea {
    height: 75px;
}
.book-app {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    @media (max-width: 500px) {
        width: 4px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background: rgb(17, 17, 17);
    background:#b939b9;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d1d2d3;
    width: 10px;
}

.router-link-exact-active.router-link-active{
    border-bottom: 3px solid #b939b9 !important;
    color: #b939b9 !important;
    
}

