.plus-btn{
    background-color: #b939b9;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 8%;
    color: black;

}
.chat-btn{
    color: black;
    background-color: #b939b9;
     padding: 0.8em;
    border-radius: 50%;
    border: none;
    position: fixed;
    right: 0;
    top: 92%;
}
.chat-icon{
    font-size: 20px;
}
.logo-point{
    color: #b939b9;
}
